#call-for-paper .header-wrapper {
    text-align: center;
    margin: 96px auto;
    max-width: 768px;
    padding: 0 32px;
}

#call-for-paper .header-wrapper span {
    color: var(--primary-700);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#call-for-paper .header-wrapper .heading {
    color: var(--gray-900);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin: 12px auto 24px;
}

#call-for-paper .header-wrapper .subheading {
    color: var(--gray-500);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#call-for-paper .header-wrapper .download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px auto 5px;
}

#call-for-paper .header-wrapper .download a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.36px;
    padding: 16px 22px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.call-for-paper-container .wrapper>div:not(.dates-wrapper) {
    padding-top: 96px;
    border-top: 1px solid var(--gray-200);
}

.call-for-paper-container ul {
    padding-left: 48px;
}

.call-for-paper-container h3 {
    color: var(--gray-900, #171E26);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 16px;
}

.call-for-paper-container p {
    color: var(--gray-500, #687582);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
    text-align: justify;
    text-justify: inter-word;
}

.call-for-paper-container p a {
    color: var(--gray-500, #687582);
}

.call-for-paper-container ul {
    margin-bottom: 48px;
}

.call-for-paper-container ul li p {
    margin-bottom: 12px;
}

@media screen and (max-width: 576px) {
    #call-for-paper .header-wrapper {
        margin: 64px auto;
        padding: 0 16px;
    }

    #call-for-paper .header-wrapper .heading {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.72px;
    }


    #call-for-paper .header-wrapper .subheading {
        font-size: 18px;
        line-height: 28px;
    }

    #call-for-paper .header-wrapper .download a {
        padding: 6px 12px;
        width: 100%;
    }

    .call-for-paper-container .wrapper>div {
        padding-top: 64px;
    }

    .call-for-paper-container h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .call-for-paper-container p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 400px) {
    #call-for-paper .header-wrapper {
        margin: 32px auto;
    }

    #call-for-paper .header-wrapper .heading {
        font-size: 30px;
        line-height: 38px;
    }


    #call-for-paper .header-wrapper .subheading {
        font-size: 16px;
        line-height: 24px;
    }

    #call-for-paper .header-wrapper .download a {
        width: 100%;
    }

    .call-for-paper-container .wrapper>div {
        padding-top: 32px;
    }

    .call-for-paper-container h3 {
        font-size: 18px;
        line-height: 28px;
    }
}

.call-for-paper-container .publication-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.call-for-paper-container .publication-wrapper .image-item {
    height: 160px;
    flex-shrink: 0;
}

.call-for-paper-container .publication-wrapper .image-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .call-for-paper-container .publication-wrapper {
        flex-wrap: wrap;
    }
    
    .call-for-paper-container .publication-wrapper .image-item {
        height: 120px;
    }
}