#gallery .header-wrapper {
    text-align: center;
    margin: 96px auto;
    max-width: 960px;
    padding: 0 32px;
}

#gallery .header-wrapper span {
    color: var(--primary-700);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#gallery .header-wrapper .heading {
    color: var(--gray-900);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin: 12px auto 24px;
    max-width: 890px;
}

.gallery-wrapper {
    margin: auto auto 100px;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%),
        #dce3e8;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: -50px 0;
    animation: shine 2s ease-in infinite;
}

@keyframes shine {
    to {
        background-position: calc(100% + 50px) 0;
    }
}