 .hero-container {
     background-color: #e8f3ff;
     background-image:
         url("../images/venue.png");
     background-size: cover;
     box-shadow: inset 0 0 0 50vw rgba(0, 78, 162, 0.7);
     padding-top: 96px;
     padding-bottom: 96px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 /* .hero-container .overlay {
position: absolute;
top: 0;
ri
 } */

 .hero-wrapper {
     max-width: 1030px;
 }

 .deadline-badge {
     display: flex;
     width: fit-content;
     margin: auto;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-color: #E8F3FF;
     mix-blend-mode: multiply;
     padding: 4px;
     border-radius: 16px;
     font-size: 14px;
     line-height: 20px;
     color: var(--primary-700, #004EA2);
     font-weight: 500;
     margin-bottom: 16px;
 }

 .deadline-date {
     background-color: #FFF;
     padding: 2px 10px;
     border-radius: 16px;
     margin-right: 12px;
 }

 .deadline-link {
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     color: var(--primary-700, #004EA2);
 }

 .deadline-link svg {
     margin-left: 4px;
     margin-right: 6px;
 }

 .hero-container h1 {
     /* color: var(--gray-900, #171E26); */
     /* color: var(--primary-700); */
    color: #FFF;     
     text-align: center;
     font-size: 60px;
     font-weight: 600;
     line-height: 72px;
     letter-spacing: -0.012px;
     margin-bottom: 24px;
 }

 .hero-container .subheading-wrapper {
     max-width: 770px;
     margin: auto;
 }

 .hero-container h3 {
     /* color: var(--primary-700); */
     color: #FFF;
     text-align: center;
     font-size: 20px;
     font-weight: 400;
     line-height: 32px;
 }

 .hero-container .hero-cta {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 48px auto 5px;
     font-size: 18px;
     font-weight: 500;
     line-height: 28px;
     letter-spacing: 0.36px;
 }

 .hero-container .hero-cta a {
     padding: 16px 22px;
     margin: auto 6px;
     text-align: center;
     text-decoration: none;
     border-radius: 8px;
 }

 .theme {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .theme .wrapper {
     display: grid;
     grid-template-columns: repeat(2, calc(50% - 32px));
     gap: 0 64px;
     padding-bottom: 96px;
     padding-top: 96px;
     border-bottom: 1px solid var(--gray-200);
 }

 .theme .wrapper .image {
     height: 100%;
     width: 100%;
     overflow: hidden;
 }

 .theme .wrapper .image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .theme .conference-highlights {
     display: grid;
     grid-template-columns: 1fr;
     gap: 48px;
 }

 .theme .conference-highlights .conference-highlight-item {
     display: grid;
     grid-template-columns: 48px 1fr;
     gap: 0 16px;
 }

 .theme .conference-highlights .conference-highlight-item .icon-wrapper {
     border-radius: 50%;
     height: 48px;
     width: 48px;
     border: 8px solid var(--primary-50);
     background: var(--primary-100);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .theme .conference-highlights .conference-highlight-item .title {
     align-self: center;
     color: var(--gray-900, #171E26);
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
 }

 .theme .conference-highlights .conference-highlight-item .description {
     grid-column: 2 / 3;
     color: var(--gray-500, #687582);
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
 }

 #important-dates .wrapper {
     border-bottom: 1px solid var(--gray-200);
 }

 .venue .header-container {
     padding: 0 32px;
 }

 .venue .header-wrapper {
     text-align: center;
     margin: 96px auto;
     max-width: 960px;
 }

 .venue .header-wrapper span {
     color: var(--primary-600);
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
 }

 .venue .header-wrapper .heading {
     color: var(--gray-900);
     font-size: 36px;
     font-weight: 600;
     line-height: 44px;
     letter-spacing: -0.72px;
     margin: 12px auto 24px;
 }

 .venue .header-wrapper .subheading {
     color: var(--gray-500);
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
 }

 .venue .image-wrapper {
     height: 500px;
     background-color: gray;
     text-align: center;
     color: #FFF;
     font-size: 36px;
     line-height: 36px;
     font-weight: 500;
     overflow: hidden;
 }

 .venue .image-wrapper img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top center;
 }

 .venue .contact-grid {
     margin: 64px auto 96px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 32px;
 }

 .venue .contact-grid .contact-grid-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .venue .contact-grid .contact-grid-item .contact-icon {
     border-radius: 50%;
     padding: 8px;
     border: 8px solid var(--primary-50);
     background: var(--primary-100);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .venue .contact-grid .contact-grid-item .contact-field {
     margin: 20px auto;
 }

 .venue .contact-grid .contact-grid-item .contact-field .label {
     color: var(--gray-900);
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
     margin-bottom: 8px;
 }

 .venue .contact-grid .contact-grid-item .contact-field .description {
     color: var(--gray-500);
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
 }

 .venue .contact-grid .contact-grid-item .contact-data .data {
     position: relative;
 }

 .venue .contact-grid .contact-grid-item .contact-data .data a {
     color: var(--primary-500);
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     text-decoration: none;
     transition: all 0.1s ease-in-out;
     cursor: pointer
 }

 .venue .contact-grid .contact-grid-item .contact-data .data .icon {
     position: absolute;
     left: 100%;
     margin-left: 4px;
     opacity: 0;
     transition: all 0.1s ease-in-out;
 }

 .venue .contact-grid .contact-grid-item .contact-data .data a:hover {
     text-decoration: underline;
 }

 .venue .contact-grid .contact-grid-item .contact-data .data a:hover+.icon {
     opacity: 1;
 }


 @media screen and (max-width: 1280px) {
     .theme .wrapper .image {
         height: auto;
         aspect-ratio: 0.68;
     }
 }

 @media screen and (max-width: 864px) {
     .hero-wrapper {
         padding-left: 32px;
         padding-right: 32px;
     }

     .hero-container h1 {
         font-size: 60px;
         line-height: 72px;
     }

     .hero-container h3 {
         font-size: 20px;
         line-height: 32px;
     }

     .theme .wrapper {
         grid-template-columns: 1fr;
     }

     .theme h6 {
         grid-column: 1 /2;
     }

     .theme .wrapper .image {
         margin-top: 48px;
         height: 400px;
     }

     .venue .contact-grid {
         grid-template-columns: 1fr 1fr;
     }
 }

 @media screen and (max-width: 576px) {
     .hero-wrapper {
         padding-left: 32px;
         padding-right: 32px;
     }

     .deadline-badge {
         margin: auto auto 16px;
         font-size: 12px;
         line-height: 18px;
     }

     .deadline-date {
         margin-right: 8px;
     }

     .hero-container {
         padding-top: 64px;
         padding-bottom: 64px;
     }

     .hero-container h1 {
         font-size: 36px;
         line-height: 44px;
         letter-spacing: -0.72px;
         text-align: center;
     }

     .hero-container h3 {
         font-size: 18px;
         line-height: 28px;
         text-align: center;
     }

     .hero-container .hero-cta {
         flex-direction: column-reverse;
         margin: 32px auto 5px;
         font-size: 16px;
         line-height: 24px;
     }

     .hero-container .hero-cta a {
         padding: 6px 12px;
         width: 100%;
         margin: 6px auto;
     }

     .theme .wrapper {
         padding-top: 64px;
         padding-bottom: 64px;
     }

     .theme h5 {
         font-size: 30px;
         line-height: 38px;
         margin-bottom: 32px;
     }

     .theme p {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 32px;
     }


     .theme-cta {
         flex-direction: column-reverse;
     }

     .theme-cta a {
         width: 100%;
         margin: 6px auto;
     }

     .theme-cta a:first-child {
         margin-right: 0;
     }

     .theme .conference-highlights .conference-highlight-item .title {
         font-size: 18px;
         line-height: 28px;
     }

     .venue .header-container {
         padding: 0 16px;
     }

     .venue .header-wrapper {
         margin: 64px auto;
     }

     .venue .header-wrapper .heading {
         font-size: 30px;
         line-height: 38px;
         margin: 12px auto 20px;
     }

     .venue .header-wrapper .subheading {
         font-size: 16px;
         line-height: 24px;
     }

 }

 @media screen and (max-width: 400px) {
     .hero-container {
         padding-top: 32px;
         padding-bottom: 32px;
     }

     .hero-container h1 {
         font-size: 30px;
         line-height: 38px;
     }

     .hero-container h3 {
         font-size: 16px;
         line-height: 24px;
     }

     .theme .wrapper {
         padding-top: 32px;
         padding-bottom: 32px;
     }

     .theme h5 {
         font-size: 24px;
         line-height: 32px;
     }

     .theme-cta a {
         font-size: 16px;
         line-height: 24px;
     }

     .venue .header-wrapper {
         margin: 32px auto;
     }

     .venue .contact-grid {
         grid-template-columns: 1fr;
     }
 }