.acad-db-wrapper {
    background: #FFF;
    padding: 96px 0;
}

.acad-db-wrapper p {
    color: var(--gray-500);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.acad-db-wrapper .acad-db {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px auto 0;
}

.acad-db-wrapper .acad-db .acad-db-item {
    height: 48px;
    width: 146px;
    background-color: gray;
}

@media screen and (max-width: 864px) { 
    .acad-db-wrapper .acad-db {
        flex-wrap: wrap;
        justify-content: center;
    }

    .acad-db-wrapper .acad-db .acad-db-item {
        margin-bottom: 32px;
    }

    .acad-db-wrapper .acad-db .acad-db-item:not(:last-child) {
        margin-right: 16px;
        margin-left: 16px;
    }
}